development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: codeminer_42
  pool: 5
  username: postgres

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: codeminer_42_test
  pool: 5
  username: postgres

production:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: codeminer_42_production
  pool: 5
  username: postgres
